h1{
	color:white;
	font-family: "big caslon";
	text-align: center;
}

.transwhite{
	background-color: rgba(0,0,0,0.7);
}

table{
	margin-left: auto;
	margin-right: auto;
	border-color:white;
	box-shadow: 2px 2px 50px black;
}

table td{
	padding:20px;
	color:white;
}

body{
	background-image:url('background.jpg');
	background-repeat: no-repeat;
}

.white{
	background-color: white;
}

.black{
	background-color: black;
}