body{
	background-image:url('img/background3.jpg');

}

#stilmellomrom{
	padding-left: 200px;
}


.white-popup {
  position: relative;
  background: rgba(0,0,0,0.70);
  padding: 40px;
  width: auto;
  max-width: 800px;
  margin: 30px auto;
  border-radius: 5px;
  color:white;
}

.seriebilde{
	margin:auto;
	max-width: 700px;
	max-height: 500px;
	border-radius: 2px;
}


.topnavglasspane{
	
	background-color: rgba(0,0,0,0.4);
	width:100.4%;
	margin-top: -20px;
	margin-left:-5.8px;
	overflow:auto;
	padding:2px;

}

nav{

	color:white;
	font-size: 18px;
	text-align:center;
	margin-bottom: -10px;
	letter-spacing: 0px;
	text-shadow:2px 3px 5px rgba(255,255,255,0.2);
}

a:link {color:#00C9CC;}

a:visited {
	color:#B5B5B5;}

.topnavbuttons{
	display:inline;
	padding:4px;
}



header{
	text-align: center;
	font-family: helvetica;
	font-size: 30px;
	margin-top: -40px;
	border-radius: 10px;
	padding: 10px;
	overflow:auto;
	margin-left: -2%;
}
hr{
	width: 50%;
}

.forord{
	margin-bottom: 60px;
	width: 67%;
	color:white;
}

section{
	color:white;
	background-color: rgba(0,0,0,0.2);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 60px;
	width: 1100px;
	box-shadow: 0px 0px 5px white;
	text-shadow:1px 4px 2px rgba(140,140,140,0.2);
}

article{
	width:80%;
}
article h1{
	font-size: 1.5em;
}

.lengerarticlemargin{
	width:120%;
}

.favorittable th, .favorittable tr, .favorittable td{
	border: 1px solid black;
	box-shadow: 0px 0px 3px white;
}

.favorittable{
	padding:20px;
}

.table th, .table tr, .table td{
	border: 1px solid black;

}

.hoyre {
	box-shadow: 0px 0px 5px white;
	margin-top: 20px;
	float:right;
	width: 20%;
	display: block;
	border: 0px;
	}

figcaption{
	margin-top: 8px;
}

#hoyrebilde{
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}


.bildeboks{
	display:block;
	width:auto;
	height:auto;
	max-width: 100%;
	max-height: 250px;
}

#indextable td{
	padding-right: 20px;
}

#facebook{
	display:block;
	margin-top: -7%;
	max-width:100px;
	max-height:45px;
	width:auto;
	height:auto;
}

#github{
	display:block;
	margin-top: -2%;
	margin-left: -7%;
	max-width:100px;
	max-height:50px;
	width:auto;
	height:auto;
}


.mailbilde{
	display:block;
	margin-top: -2%;
	margin-left: -10%;
	max-width:250px;
	max-height:250px;
	width:auto;
	height:auto;
}

.button{
font-size:14px;
background-color:rgba(0,0,0,0);
display:inline-block;
font-family:Arial;
font-size:14px;
font-weight:bold;
color:white;
text-decoration:none;
box-shadow: 0px 0px 5px white;
text-align:center;
margin-bottom:5px;
}


footer{
	margin-right: auto;
	margin-left: auto;
	width:63%;
	color:white;
	text-shadow:3px 3px 6px black;
}